@model IEnumerable<ClientExampleEAP.ExampleEAPService.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityCode)
        </td>
        <td>
            @Html.ActionLink("Transfer", "Transfer", new { scode = item.Code})
        </td>
    </tr>
}

</table>
